
:root {
    --color-light: #FEFCFB;
    --color-orange: #F5821F;
    --font-primary: "Rubik", sans-serif;
}

body {
    background-color: var(--color-light) !important;
    font-family: var(--font-primary) !important;
    overflow-x: hidden;
}

.text-light {
    color: var(--color-light) !important;
}

.text-orange {
    color: var(--color-orange) !important;
}

.color-orange {
    background-color: var(--color-orange);
}

.color-light {
    background-color: var(--color-light);
}

.text-green {
    color: #05705D;
}

.text-red {
    color: #DE2B2B;
}

header {
    width: 100%; 
    height: 13vh;
}

.dropdown-check {
    display: none !important;
}

nav {
    display: contents !important;
}

.checkBox {
    display: flex;
    margin-top: 1.5rem;
}

.logoHeader {
    width: 9rem;
    margin-left: 3rem !important;
}

.onda {
    width: 100%;
    height: auto;
    z-index: -100;
    position: relative;
    margin-top: -9rem;
}

.container-title {
    position: absolute;
    margin-top: -15rem;
    padding: 3rem;
}

#carteira2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev{
    display: flex;
    justify-content: center;
}

.card-carousel {
    margin: 2rem auto;
    width: 20rem;
    height: 22rem;
    border-top: 6px solid #F5821F;
    border-radius: 0.7rem;
}

.carousel-img {
    border-radius: 0.7rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-image: none;
}

i.carousel-control-next-icon::before, i.carousel-control-prev-icon::before {
    font-size: 2.1rem;
    color: var(--color-orange);
    margin-right: 0;
}

.carousel-control-next,
.carousel-control-prev {
    width: 30%; /* Ajuste o tamanho conforme necessário */
}

.carousel-control-next {
    right: 0;
}

.col-md-3 {
    flex: 0 0 auto;
    width: 20% !important;
}

.foto {
    width: 6rem;
}

.form-check-input:checked {
    background-color: var(--color-orange) !important;
    border-color: var(--color-orange) !important;
}


@media (min-width: 375px) and (max-width: 767px) {
    .onda {
        margin-top: -1.8rem;
    }

    .container-title {
        margin-top: 2rem;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        padding-top: 0;
        padding-bottom: 0;
    }

    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child{
        display: block;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .card-carousel {
        width: 16rem;
        height: 21rem;
    }

    .desde, .ultima {
        font-size: 0.8rem !important;
    }

    #carteira {
        margin-top: 7.5rem;
    }

    #carteira2 {
        margin-top: 0rem;
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 22% !important; /* Ajuste o tamanho conforme necessário */
    }

    .form-check {
        flex-wrap: wrap;
    }

    .checkBox {
        display: none !important;
    }

    .dropdown-check {
        display: block !important;
    } 

    .dropdown-menu.show {
        padding: 1.5rem;
        border: none;
    }
}

