
:root {
    --color-light: #FEFCFB;
    --color-orange: #F5821F;
    --font-primary: "Rubik", sans-serif;
}

body {
    background-color: var(--color-light) !important;
    font-family: var(--font-primary) !important;
}

main {
    margin-top: 2rem;
    margin-left: 33rem !important;
    margin-right: 15rem !important;
}

.text-orange {
    color: var(--color-orange) !important;
}

.text-light {
    color: var(--color-light) !important;
}

.color-orange {
    background-color: var(--color-orange);
}

.color-light {
    background-color: var(--color-light);
}

header {
    height: 30vh;
}

.foto {
    width: 10rem;
    margin-bottom: 0.5rem;
}

.perfil {
    height: 90%;
    width: 20%;
    margin-top: 2rem;
    margin-left: 5rem;
}

.nivel {
    font-size: 0.9rem;
}

.pontos {
    font-size: 0.75rem;
}

.pontuacao {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 5rem;
}

.separacao {
    color: #464545;
}

.nome {
    font-size: 1.5rem; 
    margin-bottom: 0.5rem;
}

.pontos {
    font-size: 0.9rem;
}

.consultora {
    width: 2.5rem;
}

.consultoraatual {
    margin-top: 1rem;
}

.nomeconsultora {
    font-size: 0.8rem;
}

.categoria {
    width: 20rem !important;
    height: 25vh;
}

.imgCategoria {
    width: 25rem;
}

.descricao {
    width: 25.1rem;
    height: 2rem;
}

@media(min-height: 600px) and (max-height: 700px) and (min-width: 1200px) {
    .nome {
        font-size: 1rem !important;    
        margin-bottom: 0;
        margin-top: 0;
    }

    .foto {
        width: 7rem;
        margin-bottom: 0;
    }

    .nivel {
        font-size: 0.8rem;
    }
    
    .pontos {
        font-size: 0.75rem;
    }

    .consultora {
        width: 2rem;
    }
    
    .perfil {
        height: 90%;
    }

    .nomeconsultora {
        font-size: 0.6rem !important;
    }

    .consultoraatual {
        margin-top: 0rem;
    }

    .pontuacao {
        width: 2rem;
        height: 2rem;
        border-radius: 5rem;
    }
}

@media(min-height: 701px) and (max-height: 800px) and (min-width: 1200px) {
    .nome {
        font-size: 1.2rem !important;
        margin-bottom: 0.5rem;
    }

    .foto {
        width: 8rem;
        margin-bottom: 0.5rem;
    }

    .consultora {
        width: 2.5rem;
    }
    
    .perfil {
        height: 90%;
    }

    .nomeconsultora {
        font-size: 0.7rem !important;
    }

    .pontuacao {
        width: 2rem;
        height: 2rem;
        border-radius: 5rem;
    }

    .consultoraatual {
        margin-top: 0.5rem;
    }
}

@media (min-width: 1400px) {

    .foto {
        width: 12rem;
        margin-bottom: 0.5rem;
    }

}